{% extends "basetemplate.html" %}

{% block body %}

<div class="px-4 py-5 my-5 text-center">
    {# <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">#}
    <h1 class="display-5 fw-bold">Welcome to GoatNS!</h1>
    <div class="col-lg-6 mx-auto">
      {# <p class="lead mb-4"><a href="/ui/zones/list">Click here to view your zones.</a></p>#}
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/ui"><button type="button" class="btn btn-primary btn-lg px-4 gap-3" >Log In</button></a>
        {# <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> #}
      </div>
    </div>
  </div>




{% endblock body %}
