{% extends "dashboard.html" %}
{% block content %}
<h1>Zones!</h1>

<form method="POST" action="/ui/zones/new">
    <div class="row">
        <div class="col">
        <input type="text" class="form-control" id="name" name="name"
            placeholder="New Zone" required>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-2">Create</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <th scope="col">Name</th>
        <th scope="col">RName</th>
    </thead>
    {% for zone in zones %}
    <tr>
        <td class="text-truncate"><a
                href="/ui/zones/{{zone.id.unwrap()}}">{{zone.name}}</a></td>
        <td>{{zone.rname}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
