---
name: Build Container

"on":
  push:
    branches:
      - main
  pull_request:
jobs:
  build_container:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Login to GitHub Container Registry
        # https://github.com/docker/login-action/#github-container-registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
        # don't log in if we're not going to push!
        if: ${{ github.ref == 'refs/heads/main' }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
      - name: vendor the things
        run: |
          mkdir -p .cargo
          cargo vendor >> .cargo/config.toml
      - name: Build and export to Docker
        id: build_and_export
        uses: docker/build-push-action@v6
        with:
          # platforms: linux/amd64,linux/arm64
          context: .
          load: true
          tags: goatns:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: GITHUB_SHA=${GITHUB_SHA}
      - name: Test
        id: test
        run: |
          touch fullchain.pem
          touch privkey.pem
          docker run --rm \
            --mount type=bind,source=$(pwd)/fullchain.pem,target=/fullchain.pem \
            --mount type=bind,source=$(pwd)/privkey.pem,target=/privkey.pem \
            --mount type=bind,source=$(pwd)/goatns.example.json,target=/goatns.json \
            goatns:test \
            config-check --config goatns.json
