---
name: "Rust Test"
"on":
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  rust_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions/checkout@v6
      - name: Generate certs
        run: ./insecure_generate_tls.sh
      - name: Install linux dependencies
        run: sudo apt-get install -y protobuf-compiler libpcap-dev
      - name: Run cargo test
        run: cargo test
